@tailwind base;
@tailwind components;
@tailwind utilities;
  
.container {
  width: 350px;
  height: 600px;
  background-color: #0b0b20;
  display: flex;
  align-items: center;
  justify-content: center;
}