@tailwind base;
@tailwind components;
@tailwind utilities;
  
.container {
  width: 350px;
  height: 600px;
  background-color: #0b0b20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}